In [1]:
# S3 prefix
prefix = 'contextual_summary'

# Define IAM role
import boto3
import re

import os
import numpy as np
import pandas as pd


role = "arn:aws:iam::540686626730:role/isSageMakerRole"

In [2]:
import sagemaker
from sagemaker.local import LocalSession
from time import gmtime, strftime

session = sagemaker.LocalSession()

account = session.boto_session.client('sts').get_caller_identity()['Account']
print(account)

region = session.boto_session.region_name
print(region)

bucket = "sagemaker-{}-{}".format(region, account)
print(bucket)

540686626730
eu-west-1
sagemaker-eu-west-1-540686626730

In [3]:
data_key = 'data/export.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)
print(data_location)

s3://sagemaker-eu-west-1-540686626730/data/export.csv

In [4]:
pd.read_csv(data_location)

     2483 123 Hulls Yacht Sales 123 Hulls Yacht Sales     .1
0    3509                                  212 Yachts
1    3359                                 Latitude 26
2    3289                        26 North Yachts 26NY
3    2487                 4Yacht Inc. Fort Lauderdale
4    3897                                        4you
..    ...                                         ... ..  ..
825  3191                                   YachtLove
826  3859                                Zarpo Yachts
827  3687                                   Yachts.in
828  3839                                   Yachtside
829  2365                                    Yachtzoo

[830 rows x 4 columns]

In [5]:
image = '{}.dkr.ecr.{}.amazonaws.com/aws_contextual_summary:latest'.format(account, region)

model = sagemaker.estimator.Estimator(image,
                       role, 
                       train_instance_count=1, 
                       train_instance_type='local',
                       output_path="s3://{}/output".format(bucket),
                       sagemaker_session=session)

model.fit(data_location)

WARNING:root:Parameter image_name will be renamed to image_uri in SageMaker Python SDK v2.
WARNING:sagemaker:'s3_input' class will be renamed to 'TrainingInput' in SageMaker Python SDK v2.

Creating tmplxucrgo5_algo-1-4odqz_1 ...
Attaching to tmplxucrgo5_algo-1-4odqz_12mdone
algo-1-4odqz_1  | Starting the training.
algo-1-4odqz_1  | Training complete.
tmplxucrgo5_algo-1-4odqz_1 exited with code 0
Aborting on container exit...
===== Job Complete =====